@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background:#F1F1F1;
	box-sizing: border-box;
}

#map {
	height: 100%;
}
#description {
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
}

#infowindow-content .title {
	font-weight: bold;
}

#infowindow-content {
	display: none;
}

#map #infowindow-content {
	display: inline;
}

.pac-card {
	margin: 10px 10px 0 0;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	font-family: Roboto;
}

#pac-container {
	padding-bottom: 12px;
	margin-right: 12px;
}

.pac-controls {
	display: inline-block;
	padding: 5px 11px;
}

.pac-controls label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}

#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 400px;
}

#pac-input:focus {
	border-color: #4d90fe;
}

#title {
	color: #fff;
	background-color: #4d90fe;
	font-size: 25px;
	font-weight: 500;
	padding: 6px 12px;
}
#target {
	width: 345px;
}
#logo {
	text-align: center;
	padding:20px 0 0 0;
}
#logo img {
	width:200px;
}
.menu {
	width:78%;
	margin: 20px auto 0;
}
.menu-item {
	width:33%; 
	display:inline-block; 
	color: white; 
	font-size: 18px;
	padding-top: 10px; 
	padding-bottom: 10px; 
	background-color: #165586; 
	text-align: center;
}
.menu-item.selected {
	background: #000;
}
.menu-item.first {
	
	border-radius: 5px 0 0 5px;
}
.menu-item.last {
	border-radius: 0 5px 5px 0;
}
.container {
	/*padding:10px 15px;*/
	padding-bottom: 20px;
	background: #fff;
	width:78%;
	margin: 0 auto;
}
.select {
	margin:0 20px 0 5px;
	display: inline-block;
}
.submenu {
	margin:30px 0 10px;
}
.submenu a {
	width:33%;
	float:left;
	text-align: center;
	background: #DEDEDE;
	display: block;
	padding:10px 0;
	margin-right: 4px;
	color:#000;
	font-size: 16px;
	box-sizing: border-box;
	text-decoration: none;
}
.submenu a:last-child {
	margin-right: 0;
} 
.submenu a.selected {
	background: #fff;
}
.clear {
	clear:both;
}